<app-nav-toolbar [items]="navItems" (toggleSideNav)="handleToggleSideNav()"></app-nav-toolbar>

<!-- <h1>content</h1> -->

<mat-sidenav-container>
	<mat-sidenav [opened]="sideNavOpend">
		<mat-nav-list *ngIf="navItems.length > 0">
			@for (item of navItems; track $index) {
				<mat-list-item [routerLink]="item.link" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true }">
					<mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
					{{ item.label }}
				</mat-list-item>
			}
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content class="full-height">
		<div class="content-container">
			<router-outlet />
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
