<mat-toolbar color="primary">
	<button mat-icon-button (click)="handleToggleSideNav()">
		<mat-icon>menu</mat-icon>
	</button>
	<button mat-button [matMenuTriggerFor]="menu" #trigger="matMenuTrigger">
		<span>Angular Material</span>
	</button>
	@for (item of items; track $index) {
		<button mat-button [routerLink]="item.link" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true }">{{ item.label }}</button>
	}
</mat-toolbar>

<mat-menu #menu="matMenu">
	@for (item of items; track $index) {
		<button mat-menu-item [routerLink]="item.link" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true }">
			<mat-icon>{{ item.icon }}</mat-icon>
			{{ item.label }}
		</button>
	}
</mat-menu>
